/* general*/
*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
:root{
    --title: #E34A9C;
    --bground: #ffffff;
    --mail: #2388BB;
    --color: #000000;
}
body{
    background: var(--bground);
    color: var(--color);
    font-family: 'Fredoka', sans-serif;
}
/*scritte*/
h1{
    color: var(--title);
    padding: 1.3rem;
}
.parag{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}
#mail{
    color: var(--mail);
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    padding: .3rem;
}
h5{
    padding: .3rem;
}
img{
    height: 5.5rem;
    width: 5,5rem;
    float: left;
}
.scheda{
    background-color: #000000;
    color: #ffffff;
    float: left;
    width: calc((100% / 3) - 3.3rem);
    margin: 1.3rem;
}
.dati{
    display: inline-block;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
